---
import  PbImage from './Pbimage.astro';
const {offre} = Astro.props;
---

<div>
      <PbImage
    record={offre}
    recordImage={offre.images[0]}
    width={400}
    height={300}
    />
    <a href={`/offres/${offre.id}`}>{offre.NomMaison}</a>

</div>